LOCAL_MACHINE_UID=1000 # id -u
LOCAL_MACHINE_GID=1000 # id -g 
GOOGLE_AI_STUDIO_KEY='' # used for autocomplete in boards

# generated on local machine.
# run: claude setup-token 
# this bypasses the login prompt in CC's extension for VSCode.
# if bugged, on your local machine, run: `rm -rf ~/.claude ~/.claude.json` and then `claude setup-token` again.
CLAUDE_CODE_OAUTH_TOKEN='' 
