.env
**/node_modules/*
**/.astro/*
worker-configuration.d.ts
deno.lock
**/dist/*
HELP.md
./husky/_
**/gitsshkey
**/test-results/*
.devcontainer/home/*
!.devcontainer/home/.gitkeep
!.devcontainer/home/.sample_bashrc
!.devcontainer/home/.sample_zshrc
./tests/playwright/generated.spec.ts
.vscode/settings.json
**/settings.local.json