<input id="drawer-menu" type="checkbox" class="drawer-toggle" />
<div class="drawer-side z-99 is-drawer-close:overflow-visible">
    <label for="drawer-menu" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div
        class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64"
    >
        <!-- Sidebar content here -->
        <ul class="menu w-full grow">
            <li>
                <a href="/">
                    <button
                        class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
                        data-tip="Homepage"
                    >
                        <!-- Home icon -->
                        <span class="iconify hugeicons--home-03 text-xl"></span>
                        <span class="is-drawer-close:hidden">Homepage</span>
                    </button>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <button
                        class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
                        data-tip="Dashboard"
                    >
                        <!-- Settings icon -->
                        <span
                            class="iconify hugeicons--dashboard-square-01 text-xl"
                        ></span>
                        <span class="is-drawer-close:hidden">Dashboard</span>
                    </button>
                    <ul>
                        <li><a>Item 1</a></li>
                        <li><a>Item 2</a></li>
                        <li><a>Item 3</a></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="/blog">
                    <button
                        class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
                        data-tip="Blog"
                    >
                        <!-- Settings icon -->
                        <span class="iconify hugeicons--rss text-xl"></span>
                        <span class="is-drawer-close:hidden">Blog</span>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
