<footer class="bg-base-200 text-base-content p-10">
    <div
        class="w-11/12 mx-auto footer sm:footer-horizontal text-neutral-content items-center pt-4"
    >
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
    </div>
</footer>
<footer class="bg-base-200 text-base-content p-10">
    <div
        class="w-11/12 mx-auto footer sm:footer-horizontal border-t-2 border-primary-content mt-4 text-neutral-content items-center py-4"
    >
        <aside class="grid-flow-col items-center">
            <span class="iconify hugeicons--copyright text-xl"></span>
            <p>
                Copyright © {new Date().getFullYear()} Kanby LLC
            </p>
        </aside>
        <nav
            class="grid-flow-col gap-4 md:place-self-center md:justify-self-end"
        >
            <a>
                <span class="iconify hugeicons--threads text-xl"></span>
            </a>
            <a>
                <span class="iconify hugeicons--youtube text-xl"></span>
            </a>
            <a>
                <span class="iconify hugeicons--facebook-02 text-xl"></span>
            </a>
            <a>
                <span class="iconify hugeicons--instagram text-xl"></span>
            </a>
        </nav>
    </div>
</footer>
