---
import "@styles/global.css";
import "@lyfie/luthor/styles.css";

import { Font } from "astro:assets";

import GoogleAnalytics from "@components/seo/GoogleAnalytics.astro";

interface Props {
    title?: string;
    description?: string;
}

const { title = "Kanby", description } = Astro.props;
const googleTag = import.meta.env.GOOGLE_TAG;
const isPlaywright = Astro.request.headers.get("x-playwright-test") === "true";
---

<meta charset="UTF-8" />
<meta
    name="viewport"
    content="viewport-fit=cover, width=device-width, initial-scale=1.0"
/>
<title>{title}</title>
<Font cssVariable="--font-cherry-bomb-one" />
<Font cssVariable="--font-roboto-slab" />
<Font cssVariable="--font-nunito" />
<Font cssVariable="--font-inter" />
{description && <meta name="description" content={description} />}
{googleTag && !isPlaywright && <GoogleAnalytics tag={googleTag} />}
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
