---
import { render } from "astro:content";
import Layout from "@layouts/BaseLayout.astro";
import { getProtectedCollection } from "@src/utils";

const { slug } = Astro.params;

const isPlaywrightTest =
  Astro.request.headers.get("x-playwright-test") === "true";
const posts = await getProtectedCollection("blog", {
  includeTestOnly: isPlaywrightTest,
});
const entry = posts.find((post) => post.id === slug);

if (!entry) {
  Astro.response.status = 404;
  Astro.response.statusText = "This article does not exist.";
}

const { Content } = entry ? await render(entry) : { Content: null };
---

<Layout seo={entry?.data}>
  {
    Content && (
      <div class="prose">
        <Content />
      </div>
    )
  }
</Layout>
