---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex min-h-[60vh] flex-col items-center justify-center gap-4">
        <h2 class="text-xl font-semibold">Blog is coming soon!</h2>
    </div>
</BaseLayout>
