---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
    <div
        class="z-1 relative h-screen flex flex-col items-center justify-center"
    >
        <div
            class="z-2 absolute w-full top-0 left-0 min-h-screen h-full bg-linear-to-br/oklch from-ctp-flamingo-100/50 dark:from-ctp-lavender-950 mask-b-from-base-100 to-base-100"
        >
        </div>
        <div class="z-3 relative w-11/12 max-w-5xl space-y-6">
            <h1 class="text-5xl text-base-content text-center font-roboto-slab">
                Under development
            </h1>
            <p class="text-xl text-base-content text-center">
                Check back soon for updates.
            </p>
        </div>
    </div>
</BaseLayout>
