---
import Layout from "@layouts/BaseLayout.astro";
import { getProtectedCollection } from "@src/utils";

export const prerender = true;

const posts = await getProtectedCollection("blog");

let seo = {
    title: "Blog",
    description: "All blog posts.",
};
---

<Layout seo={seo}>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
