---
import Layout from "@layouts/BaseLayout.astro";
import Prose from "@components/pages/Prose.astro";
import ContactForm from "@components/ContactForm.astro";

const seo = {
    title: "Contact",
    description: "Get in touch with the Kanby team.",
};
---

<Layout seo={seo}>
    <Prose>
        <h1>Contact</h1>

        <p>
            👋 Stopping by to say hi?<br />
            🤔 Have a question?<br />
            🐞 Found a bug?
        </p>

        <p>Drop us a message - we'd love to hear from you.</p>
        <ContactForm />
    </Prose>
</Layout>
