---
import Layout from "@src/layouts/ErrorLayout.astro";

const { status, statusText } = Astro.locals as {
    status: number;
    statusText: string;
};
---

<Layout>
    <div
        class="grid h-screen place-content-center bg-white px-4 dark:bg-gray-900"
    >
        <div class="text-center">
            <h2 class="text-9xl font-black text-gray-200 dark:text-gray-700">
                {status}
            </h2>

            <p
                class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
            >
                Uh-oh!
            </p>

            <p class="mt-4 text-gray-500 dark:text-gray-400">{statusText}</p>

            <a
                href={Astro.site}
                class="mt-6 inline-block rounded-sm bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:ring-3 focus:outline-hidden"
            >
                Go Back Home
            </a>
        </div>
    </div>
</Layout>
