---
import BaseLayout from "@layouts/BaseLayout.astro";
import BoardController from "@components/BoardController.tsx";
import { Show } from "@clerk/astro/components";

const boardId = Astro.locals.boardId;
const { userId } = Astro.locals.auth();
const isAuthenticated = !!userId;
---

<BaseLayout>
  <header
    class="w-11/12 relative z-1 m-auto py-16 flex flex-col gap-4 sm:flex-row sm:items-start sm:justify-between"
  >
    <div>
      <p class="text-sm uppercase tracking-[0.3em]">Organize your workflow</p>
      <h1
        class="mt-3 text-5xl leading-15 font-semibold bg-clip-text text-transparent bg-linear-to-r from-accent to-secondary"
      >
        Kanary Boards
      </h1>
    </div>
    <p class="max-w-2xl">
      An AI-native kanban-style project management app built with Astro, React,
      Deno, and TailwindCSS / DaisyUI. <br /><br />
      Create rows and tasks, drag and drop them around as needed.<br /><br />
      Generate tasks using AI by entering a prompt describing the type of tasks you
      want to create, and the AI will return a list of tasks matching your description.<br
      /><br />
      <Show when="signed-out">
        <p>Sign in to try Clerk out!</p>
      </Show>
      <Show when="signed-in">
        <p>You are signed in!</p>
      </Show>
    </p>
  </header>
  <BoardController
    client:only="react"
    boardId={boardId}
    isAuthenticated={isAuthenticated}
  />
</BaseLayout>
