---
export const prerender = false;

const import_secret = import.meta.env.TESTING;
const deno_secret = Deno.env.get("TESTING");
---

<h1>Testing Island</h1>

<p>import.meta.env: {import_secret}</p>

<p>Deno.env.get: {deno_secret}</p>
