---
import Layout from "@layouts/BaseLayout.astro";
import Prose from "@components/pages/Prose.astro";
import { getProtectedCollection, getTagsFromCollection } from "@src/utils";
import { setPublicCache } from "@lib/cache";

setPublicCache(Astro);

const isPlaywrightTest =
    Astro.request.headers.get("x-playwright-test") === "true";
const allPosts = await getProtectedCollection("blog", {
    includeTestOnly: isPlaywrightTest,
});
const tags = getTagsFromCollection(allPosts);

// Example: Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// Example: Construct a URL for SEO meta tags using your current domain
const socialImageURL = new URL("/images/preview.png", Astro.url);

let seo = {
    title: "Archive of all Tags",
    description: "Tag archive.",
};
---

<Layout seo={seo}>
    <Prose>
        {
            tags.length > 0 ? (
                <div class="tags">
                    {tags.map((tag) => (
                        <p class="tag">
                            <a href={`/blog/tags/${tag}`}>{tag}</a>
                        </p>
                    ))}
                </div>
            ) : (
                <p>No tags yet. Check back soon.</p>
            )
        }
    </Prose>
</Layout>
<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
