---
import HtmlHead from "./partials/HtmlHead.astro";

import Header from "./partials/Header.astro";
import DrawerMenu from "./partials/DrawerMenu.astro";

import Footer from "./partials/Footer.astro";
import CookieBanner from "@components/CookieBanner.astro";
import type { SeoMetadata } from "@src/content.config";

interface Props {
  seo?: SeoMetadata;
}

const { seo } = Astro.props;
const pageClass = `page-${Astro.url.pathname === "/" ? "home" : Astro.url.pathname.replace(/^\/|\/$/g, "").replace(/\//g, "-")}`;
---

<html lang="en">
  <head>
    <HtmlHead seo={seo} />
  </head>
  <body class:list={["drawer", pageClass]}>
    <DrawerMenu />
    <main class="drawer-content">
      <Header />
      <slot />
      <Footer />
    </main>
    <CookieBanner />
  </body>
</html>
