---
import HtmlHead from "./partials/HtmlHead.astro";
import "@lyfie/luthor/styles.css";

import Header from "./partials/Header.astro";
import DrawerMenu from "./partials/DrawerMenu.astro";

import Footer from "./partials/Footer.astro";
---

<html lang="en">
  <head>
    <HtmlHead />
  </head>
  <body class="drawer">
    <DrawerMenu />
    <main class="drawer-content">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
