---
import HtmlHead from "./partials/HtmlHead.astro";

import Header from "./partials/Header.astro";
import DrawerMenu from "./partials/DrawerMenu.astro";

import Footer from "./partials/Footer.astro";
---

<html lang="en">
  <head>
    <HtmlHead />
  </head>
  <body class="drawer">
    <DrawerMenu />
    <main class="drawer-content">
      <div class="absolute top-0 left-0 w-full">
        <Header />
      </div>
      <slot />
      <Footer />
    </main>
  </body>
</html>
