---
import "@lyfie/luthor/styles.css";
import HtmlHead from "./partials/HtmlHead.astro";
import Header from "./partials/Header.astro";
import DrawerMenu from "./partials/DrawerMenu.astro";
import Footer from "./partials/Footer.astro";
---

<html lang="en">
    <head>
        <HtmlHead />
    </head>
    <body class="drawer">
        <DrawerMenu />
        <main class="drawer-content">
            <Header />
            <div
                class="absolute z-0 min-h-3/12 w-full bg-linear-to-br/oklch from-ctp-flamingo-100/50 dark:from-ctp-lavender-950 mask-b-from-base-100 to-base-100"
            >
            </div>
            <section class="mx-auto w-full relative z-1">
                <slot />
            </section>
            <Footer />
        </main>
    </body>
</html>
