---
import HtmlHead from "./partials/HtmlHead.astro";
import Header from "./partials/Header.astro";
import DrawerMenu from "./partials/DrawerMenu.astro";
import Footer from "./partials/Footer.astro";
import CookieBanner from "@components/CookieBanner.astro";
---

<html lang="en">
    <head>
        <HtmlHead />
    </head>
    <body class="drawer">
        <DrawerMenu />
        <main class="drawer-content">
            <Header />
            <section class="mx-auto w-full z-1">
                <slot />
            </section>
            <Footer />
        </main>
        <CookieBanner />
    </body>
</html>
